


.title {
    font-size: 50px;
    font-variant: small-caps;
    font-family: "Agency FB";
}

.p1 {

    font-size: 30px;
    font-variant: full-width;
    font-family: "Agency FB";
}

 body {
     background-color: #5975ff;
     background-image:url("https://qzprod.files.wordpress.com/2016/12/apple-aerial-apple-tv-screensaver.png");
 }

 img {
     max-width: 125px;
 }

 img:hover {
     border: 3px #a1a1a1 solid;
 }

.turned {
    border: 3px red solid;
    max-width: 94px;
}

.hidden {
    display: none;
}